<main class="modificar">
<div>
<h4>Editar Novedad</h4>
<button class="volver"><a href="/admin/modificar/volver">Volver</a></button><p>Al listado de novedades</p>
<form action="/admin/novedades/modificar/" method="post">
<input type="hidden" value="{{novedad.id}}" name="id">
<div class="form-group">
<input type="text" class="form-control" value="{{novedad.titulo}}" name="titulo">
<textarea type="text" class="form-control" name="subtitulo">{{novedad.subtitulo}}</textarea>
<textarea  class="form-control" name="cuerpo">{{novedad.cuerpo}}</textarea>
<button type="submit" class="btn btn-primary">Modificar</button>
</div>
</form>
{{#if error}}
<h5>{{message}}</h5>
{{/if}}
</div>
</main>